
<div class="dynamic-content border"> 
    <a href="">
        <img src="{{user_profile}}" class="img-perfil"> 
    </a> 

    <div class="separator"></div>

    <p class="profile-name"><a href="#">{{user_name}}</a></p> 
    <p class="status mb-5">{{user_status}}</p> 
    <p class="status">{{country}}</p>  

    <div class="separator"></div>

    <ul class="menu-left no-padding">
    <li class="menu-inside">
        <a href="#"> 
            <i class="icon-profile"></i>
            perfil
        </a> 

        <a href="#">  
                editar
            </a> 
    </li>
    <li>
        <a href="#">
            <i class="icon-message"></i>
            recados 
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-photo"></i>
            fotos 
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-video"></i>
            vídeos 
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-brief"></i>
            depoimentos 
        </a>
    </li>
    </ul>

    <div class="separator"></div>
    <p class="left-menu-str">Apps</p>  
    <ul class="menu-left mb-5 no-padding">
    <li>
        <a href="#"> 
            <i class="icon-add-app"></i>
            adicionar apps
        </a> 
    </li> 
    </ul>
    <div class="separator"></div>

    <ul class="menu-left no-padding">
    <li>
        <a href="#"> 
            <i class="icon-list"></i>
            listas
        </a> 
    </li> 
    <li>
        <a href="#"> 
            <i class="icon-update"></i>
            atualizações
        </a> 
    </li> 
    <li>
        <a href="#"> 
            <i class="icon-settings"></i>
            configurações
        </a> 
    </li> 
    </ul>  
</div>