<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="assets/css/style.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    </head> 
    <body>
        <div class="container">
            <div class="content border mt-20"> 
                <div class="pd-5">
                    <div class="alert">
                        <p><b>Aviso:</b> O projeto 'orkut-mvc-crud' não tem nenhum vínculo com o Google.</p>
                    </div> 
                </div> 
            </div> 
        </div>
        <div class="container">    
            <div class="row mt-20">
                <div class="login-desc">
                    <div class="panel-body desc-body">
                        <div class="login-desc-body">
                            <img src="assets/img/logo.png" class="img-logo">
                            <div class="desc-contents">
                                <p><b>Conecte-se</b> aos seus amigos e familiares usando recados e mensagens instantâneas</p>
                                <p><b>Conheça novas</b> pessoas através de amigos de seus amigos e comunidades</p>
                                <p><b>Compartilhe</b> seus vídeos, fotos e paixôes em um só lugar</p>
                            </div>  
                        </div> 
                    </div>
                </div>
                <div class="login-box">
                    <div class="panel-login"> 
                        <p class="text-center">Acesse o orkut com a sua conta</p>
                    </div>

                    <div class="panel-register mt-20"> 
                        dfgdfgdfgdfg
                    </div>
                </div>
            </div>
        </div>
    </body> 
</html> 